body {
  background-color: #000;
  color: #fff;
}

a {
  color: #ffff00;
  text-decoration: underline;
}

button, input, textarea {
  background-color: #000;
  color: #fff;
  border: 2px solid #ffff00;
}

:focus {
  outline: 3px solid #00ffff;
}
